 /*link ir arriba*/
 .lnav{
    grid-area: lnav;
    font-style: italic;
    
    
  }
  .lnav {
            a{
                font-size: 22px;
                font-weight: 900;
                text-decoration: none;
                color: $color-fondo;
                border: solid 1px $color-fondo;
                padding: 5px;
                margin: 1px;
            }
  }
  div {
    .lnav{
         margin: 5px 5px 5px 30px ;
         
            }
    }